<h1 mat-dialog-title>Lập lịch</h1>

<form [formGroup]="addScheduleForm" (submit)="submit()">
    <mat-form-field appearance="outline">
        <mat-label>Khoa</mat-label>
        <mat-select formControlName="facultyId">
            <mat-option *ngFor="let faculty of faculties" value="{{faculty?.id}}">{{faculty?.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Chọn lớp</mat-label>
        <mat-select formControlName="classroom">
            <mat-option *ngFor="let classroom of classrooms" value="{{classroom?.name}}">{{classroom?.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Chọn phòng</mat-label>
        <mat-select formControlName="room">
            <mat-option *ngFor="let room of rooms" value="{{room?.name}}">{{room?.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Thời gian bắt đầu</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startTime">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Thời gian kết thúc</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endTime">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-dialog-actions align="end">

        <button mat-flat-button color="primary" style="float: right" type="submit" matTooltip="Quyền truy cập">
            <mat-icon>check</mat-icon>
            Thêm mới
        </button>
        <button mat-button style="float: right" matDialogClose tabindex="-1" matTooltip="Trở lại trang trước">
            <mat-icon>close</mat-icon>
            Quay lại
        </button>
    </mat-dialog-actions>
</form>
