<section class="container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-6 gap-5" *ngFor="let feature of listFeatures">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{feature.name}} {{ feature.isReleased ? "" : " (Coming Soon)"}}</h5>
                        <p class="card-text">{{feature.description}}</p>
                        <a class="btn btn-primary"  [routerLink]="feature.routerLink">Truy cập</a>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>
<ng-template #login>
    <div class="card mt-4 shadow">
        <h4 class="card-header">You have been logged out</h4>
        <div class="card-body">
            <div class="m-2">
                Please click <a routerLink="login">here</a> to login.
            </div>
        </div>
    </div>
</ng-template>


