<section class="container">
    <div class="main-content">
        <h3>Quản lý thời khoá biểu</h3>
        <form>
            <div class="form-row align-items-center">
                <div style="display: flex; flex-direction: row; width: 100%">
                    <form [formGroup]="searchForm">
                        <div class="col-auto my-1">
                            <mat-form-field appearance="outline">
                                <mat-label>Chọn Khoa</mat-label>
                                <mat-select formControlName="facultyId">
                                    <mat-option *ngFor="let faculty of faculties"
                                                value="{{faculty?.id}}">{{faculty?.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="spacer"></div>
                    <div class="col-auto my-1" style="padding-top: 2rem">
                        <button mat-stroked-button (click)="openAddScheduleDialog()">
                            <mat-icon>add</mat-icon>
                            Thêm lớp
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Khoa</th>
                    <th scope="col">STT</th>
                    <th scope="col">Lớp/Phòng học</th>
                    <th scope="col">Thời gian học</th>
                    <th scope="col">T2</th>
                    <th scope="col">T3</th>
                    <th scope="col">T4</th>
                    <th scope="col">T5</th>
                    <th scope="col">T6</th>
                    <th scope="col">T7</th>
                    <th scope="col">CN</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let schedule of schedules; let i = index">
                    <th scope="row">{{schedule?.faculty?.name}}</th>
                    <td>{{i + 1}}</td>
                    <td>{{schedule?.description}}</td>
                    <td>
                        <div class="row-text-center">
                            Từ {{schedule?.startTime | date: 'dd/MM/yyyy'}} <br>
                            đến {{schedule?.endTime | date: 'dd/MM/yyyy'}}
                        </div>
                    </td>
                    <td>
                        <ng-container *ngIf="schedule?.t2 == null">
                            <button mat-stroked-button (click)="openAddTimetableDialog(schedule, 2)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="schedule?.t2 != null">
                            <div class="align-center-div">
                                <div class="row-text-center">{{schedule?.t2?.subjectName}}</div>
                                <div class="row-text-center"><strong>Tiết {{schedule?.t2?.stack}}</strong></div>
                                <div class="row-text-center">GV: {{schedule?.t2?.teacherName}}</div>
                            </div>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="schedule?.t3 == null">
                            <button mat-stroked-button (click)="openAddTimetableDialog(schedule, 3)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="schedule?.t3 != null">
                            <div class="align-center-div">
                                <div class="row-text-center">{{schedule?.t3?.subjectName}}</div>
                                <div class="row-text-center"><strong>Tiết {{schedule?.t3?.stack}}</strong></div>
                                <div class="row-text-center">GV: {{schedule?.t3?.teacherName}}</div>
                            </div>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="schedule?.t4 == null">
                            <button mat-stroked-button (click)="openAddTimetableDialog(schedule, 4)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="schedule?.t4 != null">
                            <div class="align-center-div">
                                <div class="row-text-center">{{schedule?.t4?.subjectName}}</div>
                                <div class="row-text-center"><strong>Tiết {{schedule?.t4?.stack}}</strong></div>
                                <div class="row-text-center">GV: {{schedule?.t4?.teacherName}}</div>
                            </div>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="schedule?.t5 == null">
                            <button mat-stroked-button (click)="openAddTimetableDialog(schedule, 5)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="schedule?.t5 != null">
                            <div class="align-center-div">
                                <div class="row-text-center">{{schedule?.t5?.subjectName}}</div>
                                <div class="row-text-center"><strong>Tiết {{schedule?.t5?.stack}}</strong></div>
                                <div class="row-text-center">GV: {{schedule?.t5?.teacherName}}</div>
                            </div>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="schedule?.t6 == null">
                            <button mat-stroked-button (click)="openAddTimetableDialog(schedule, 6)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="schedule?.t6 != null">
                            <div class="align-center-div">
                                <div class="row-text-center">{{schedule?.t6?.subjectName}}</div>
                                <div class="row-text-center"><strong>Tiết {{schedule?.t6?.stack}}</strong></div>
                                <div class="row-text-center">GV: {{schedule?.t6?.teacherName}}</div>
                            </div>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="schedule?.t7 == null">
                            <button mat-stroked-button (click)="openAddTimetableDialog(schedule, 7)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="schedule?.t7 != null">
                            <div class="align-center-div">
                                <div class="row-text-center">{{schedule?.t7?.subjectName}}</div>
                                <div class="row-text-center"><strong>Tiết {{schedule?.t7?.stack}}</strong></div>
                                <div class="row-text-center">GV: {{schedule?.t7?.teacherName}}</div>
                            </div>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="schedule?.t0 == null">
                            <button mat-stroked-button (click)="openAddTimetableDialog(schedule, 0)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="schedule?.t0 != null">
                            <div class="align-center-div">
                                <div class="row-text-center">{{schedule?.t0?.subjectName}}</div>
                                <div class="row-text-center"><strong>Tiết {{schedule?.t0?.stack}}</strong></div>
                                <div class="row-text-center">GV: {{schedule?.t0?.teacherName}}</div>
                            </div>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
